@use "fonts";
@use "normalize";
@use "variables" as *;
@use "typography";

// Views
@use "views/eventsetup";
@use "views/photocapture";
@use "views/personselection";
@use "views/success";

body {
    background: linear-gradient(135deg, #00294C 0%, #00549e 100%);
    min-height: 100dvh;
    width: 100dvw;
}

.section {
    max-width: $maxWidth;
}

.section_content{
    max-width: $maxWidthContent;
}

.photobox-app {
  min-height: 100dvh;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
