@mixin media($size) {
    @if $size ==smartphone {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $size ==medium {
        @media (min-width: 700px) {
            @content;
        }
    }

    @else if $size ==desktop {
        @media (min-width: 1000px) {
            @content;
        }
    }

    @else if $size ==maxwidth {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else if $size ==max-medium {
        @media (max-width: 700px) {
            @content;
        }
    }

    @else if $size ==max-smartphone {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $size ==max-desktop {
        @media (max-width: 1000px) {
            @content;
        }
    }

    @else if $size ==max-maxwidth {
        @media (max-width: 1200px) {
            @content;
        }
    }

    @else {
        @error "Unknown media size: #{$size}. Please use one of the defined breakpoints: smartphone, medium, desktop, large, maxwidth, max-medium, max-smartphone, max-desktop, max-large, max-maxwidth.";
    }
}

$maxWidth: 1200px;
$maxWidthContent: 980px;

$breakpoints: (
    'smartphone': 320px,
    'medium': 640px,
    'desktop': 1000px,
    'large': 1280px,
    'maxwidth': 1600px,
);

:root {
  --color-primary: #1E3755;
  --color-secondary: #C9A141;
  --color-black: #131F42;
  --color-white: #FFF;
}
